body { background-color: gray; }

nav { width: 45%; }
nav#borrow { margin: 0 1.25% 0 2.5%; }
nav#bring { margin: 0 2.5% 0 1.25%; }
nav input[type="submit"] { font-size: 1.5em; padding: 0.2em; width: 100%; }
nav input[type="submit"]:hover { background-color: white; cursor: pointer; }

tr.ungerade { background-color: blue; }
tr.ungerade:hover { background-color: white; }
tr.gerade { background-color: yellow; }
tr.gerade:hover { background-color: red; }

.left { float: left; }
.right { float: right; }